html {
    --primary: rgba(255, 255, 255, 1);
    --secundary: rgb(37, 76, 125);
    --acccent: rgb(76, 129, 158);
    --neutral: rgba(238, 238, 238, 1);

    font-family: 'Slabo 27px', serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}


/*navigationbar*/
header {
    background: #FFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    background-color: var(--secundary);
    position: fixed;
    top: 0;
    width: 100%;
    
}

li {
   float: left;
   border-right: 1px solid var(--secundary);
   
}

li a {
    display: block;
    color: var(--primary);
    text-align: center;
    padding: 14px 48px;
    text-decoration: none;
    font-size: 18px;

}

li a:hover {
    background-color: var(--acccent);
}

.active {
    background-color: var(--acccent);
}


/*projects*/
div {
    margin-top: 80px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--secundary);
}

p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: black;
}

/*text box*/

.info {
    width: fit-content;   
    height: 200px;
    border: 4px solid var(--secundary);
    padding: 50px;
    margin: 20px auto 0 auto;
}

form {
    
}

h2 {
    color: var(--secundary);
}

a {
    font-size: 20px;
}

/*a .insta{
    size: 68px;
}*/

.insta {
    width: 32px;
    height: 32px;
}

script {
    color: white;
}